.book-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  max-width: 16rem;
  min-height: 30rem;
  // border-radius: 4px;
  &__info {
    padding: 0.8rem
  }

  &__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-block: 0.8px;
  }

  &__image {
    max-width: 160px;
  }

  &.horizontal {
    flex-direction: row;
    max-width: 100%;
    min-height: auto;
    &__image {
      max-width: 100%;
    }
  }
}

.price-discount {
  margin-top: 1rem;
  &__price-discount-line {
    display: flex;
    align-items: center;
  }

  &__price {
    color: #27272A;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  &__discount {
    color: #fff;
    background: #FF424F;
    border-radius: 4px;
    padding: 0.4rem;
    margin-left: 0.8rem;
  }

  &__crossed-out-price {
    color: #808089;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-decoration: line-through;
  }
}